
.sidebar {
    position: fixed;
    top: 0;
    bottom: 0;
    z-index: 1;
    width: 250px;
    height: 100%;
    display: none;
    flex-direction: column;
    padding-top: 54px;
    background-color: var(--color-bg3);
}

.sidebar_active {
    display: flex;
}

.sidebar__box {
    overflow: auto;
    visibility: hidden;
}

.sidebar__boxInner,
.sidebar__box:hover {
    visibility: visible;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: linear-gradient(90deg,#434343,#434343 1px,#111 0,#111);
}

::-webkit-scrollbar-thumb {
    background-color: var(--color-bg2);
    border-radius: 16px;
    box-shadow: inset 2px 2px 2px hsla(0,0%,100%,.25),inset -2px -2px 2px rgba(0,0,0,.25);
}

.sidebar__listTop {
    padding: 15px 0;
    border-bottom: 1px solid var(--color-bg2);
}

.sidebar__itemTop  {
    display: flex;
    align-items: center;
    width: 100%;
    transition: var(--transition);
    cursor: pointer;
}



.sidebar__itemTop:hover {
   background-color: var(--color-bg2);
}
.sidebar__itemTopIcon  {
    font-style: 25px;
    width: 35px;
    height: 25px;
    color: var(--color-text-secondary);
}

.sidebar__linkTop {
    display: flex;
    align-items: center;
    gap: 8px;
    width: 100%;
    padding: 8px 0;
    color: var(--color-text-secondary);
    transition: var(--transition);
}

.active {
    background-color: var(--color-bg2);
    color: #fff;
}

.active__icon {
    color: #fff;
}

.sidebar__linkTop:hover {
    color: var(--color-text-white);
}

.subscription__text {
    padding-bottom: 5px;
    font-size: var(--fs-md);
    line-height: var(--lh-md);
    color: var(--color-text-white);
}






