@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,400;0,700;1,600&display=swap');


*{
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  background-color: transparent;
  box-sizing: border-box;
  list-style: none;
}

ul {
  margin: 0 !important;
  padding-left: 0 !important;
}


a {
  text-decoration: none !important;
}

p{
  margin-bottom: 0 !important;
}

span {
  display: inline-block;
}

:root {
  --color-bg: #16161d;
  --color-bg2: rgba(235, 235, 235, 0.24);
  --color-bg3: #25252b;
  --color-bg4: #1c1c20;
  --color-icon: rgba(0, 0, 0, 0.137);
  --color-text-secondary: rgba(255, 255, 255, 0.5);
  --color-text-secondary2: rgba(255, 255, 255, 0.4);
  --color-text-secondary3: #c2c2c2;
  --color-text-white: #fff;
  --color-active: #ff0000;

  --fs-xs: 13px;
  --lh-xs: 16px;

  --fs-sm: 16px;
  --lh-sm: 20px;

  --fs-md: 18px;
  --lh-md: 23px;

  --fs-lg: 26px;
  --lh-lg: 33px;

  --fs-xl: 36px;
  --lh-xl: 45px;
  --transition: all .4s linear;

  --font: 'Mulish', sans-serif;
}

body {
  font-family: 'Mulish', sans-serif !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: var(--fs-sm) !important;
  line-height: var(--fs-sm) !important;
  color: var(--color-text-secondary2) !important;
  background: var(--color-bg) !important;
}

.side-container {
  width: 100%;
  max-width: 1350px;
  margin:0 auto;
  padding: 0 16px;
}

.main {
  width: 100%;
  margin-left: 251px;
}

.main-active {
  margin-left: 0px;
}

.main-right {
  margin-left: 0 !important;
}






